<table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Rate</th>
        <th>Hours</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td><input [(ngModel)]="items[i].description" name="description{{i}}" /></td>
        <td><input [(ngModel)]="items[i].rate" name="rate{{i}}" /></td>
        <td><input [(ngModel)]="items[i].hours" name="hours{{i}}" /></td>
        <td><input [(ngModel)]="items[i].amount" name="amount{{i}}" /></td>
      </tr>
    </tbody>
  </table>